* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app {
  margin: 0;
  padding: 10px;
}

.main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.search-form input,
.search-form button {
  width: 280px;
}

.search-form input,
.search-form button {
  padding: 10px;
  border-radius: 4px;
}

.search-form button:focus {
  background-color: #c0a176;
  animation-name: translateY;
  animation-duration: 0.1s;
}
@keyframes translateY {
  to {
    transform: translateY(5px);
  }
}

.search-form input {
  border: 1px solid #808080;
  outline: none;
}

.search-form button {
  margin-left: 10px;
  background-color: #ffd9a4;
  border: 1px solid #ffd9a4;
}

.user {
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
